@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    @apply w-1 bg-transparent !important;
  }

  ::-webkit-scrollbar-track {
    @apply bg-base-100 !important;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-base-200 !important;
  }

  .image-blur {
    @apply blur-md filter transition-all duration-300 ease-linear;
  }

  .image-loaded {
    @apply filter-none;
  }

  .hero-footer {
    @apply absolute bottom-1/2 flex w-full flex-col items-center justify-center;
  }

  .hero-image {
    @apply h-full w-full object-cover object-center sm:object-center-to-top;
  }

  .absolute-center {
    @apply absolute inset-0 flex items-center justify-center;
  }

  .absolute-y-center {
    @apply absolute top-1/2 my-auto;
  }

  .absolute-x-center {
    @apply absolute mx-auto w-full;
  }

  .spotlight-img-carousel {
    @apply relative aspect-square h-full max-h-[60dvh] w-full;
  }

  .react-tel-input .flag-dropdown.open .selected-flag {
    @apply !bg-transparent;
  }

  .react-tel-input .flag-dropdown .selected-flag:hover {
    @apply !bg-transparent;
  }
  .react-tel-input .country-list .country:hover {
    @apply !bg-neutral !text-base-300;
  }

  .react-tel-input .country-list .country.highlight {
    @apply !bg-neutral !text-base-300;
  }

  .auth-page_wrapper {
    @apply relative h-svh w-svw items-center justify-center overflow-hidden;
  }

  .auth-page_form {
    @apply ml-auto flex h-auto w-full flex-col justify-center gap-y-3 overflow-hidden bg-base-100 bg-opacity-90 px-5 shadow-2xl md:w-3/4 md:p-10 xl:w-1/2;
  }

  .auth-form_submit {
    @apply !mt-3 w-full !normal-case hover:!bg-base-200 hover:text-base-100 md:!mt-6;
  }

  .auth-form_title {
    @apply !my-5 text-center !text-3xl text-base-200 md:!text-4xl xl:!text-5xl;
  }

  .auth-link {
    @apply btn w-full rounded-none border-none bg-transparent text-base text-base-200 shadow-none outline-none hover:bg-base-200 hover:text-base-100;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: 'color 9999s ease-out, background-color 9999s ease-out';
  -webkit-transition-delay: 9999s;
}

.embla-standart {
  --slide-size: 100%;
  --slide-height: 100%;
  --slide-spacing: 0.25rem;
  --slide-size-xl: calc(100% / 3);
  --slide-size-lg: calc(100% / 2.5);
  --slide-size-md: calc(100% / 2);
  --slide-size-sm: calc(100% / 1.5);
}

.embla-mini {
  --slide-size: 100%;
  --slide-height: 300px;
  --slide-spacing: 0.25rem;
  --slide-size-xl: calc(100% / 3);
  --slide-size-md: calc(100% / 2);
}

.embla__viewport {
  overflow-x: hidden;
  padding: 0;
}

.embla__container {
  display: flex;
  backface-visibility: hidden;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  min-width: 0;
  list-style: none;
  flex: 0 0 var(--slide-size);
  margin-left: calc(var(--slide-spacing));
  margin-right: calc(var(--slide-spacing));
}

@media (min-width: 528px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-sm);
  }
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-md);
  }
}

@media (min-width: 1024px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-lg);
  }
}

@media (min-width: 1280px) {
  .embla__slide {
    flex: 0 0 var(--slide-size-xl);
  }
}

.emble_header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.embla__controls {
  display: flex;
}

.embla__buttons {
  display: flex;
  align-items: center;
}

.flag-dropdown,
.selected-flag {
  background: transparent !important;
}

.flag-dropdown:hover,
.selected-flag:hover {
  background: transparent !important;
}

.react-zoom [data-rmiz-modal-overlay],
.react-zoom [data-rmiz-modal-img] {
  @apply transition-all duration-300 ease-linear;
}
.react-zoom [data-rmiz-modal-overlay='hidden'] {
  @apply bg-transparent;
}
.react-zoom [data-rmiz-modal-overlay='visible'] {
  @apply bg-base-100;
}
.react-zoom [data-rmiz-btn-unzoom] {
  @apply cursor-pointer bg-base-100 text-base-200;
}

.react-zoom [data-rmiz-btn-unzoom]:focus,
.react-zoom [data-rmiz-btn-unzoom]:active {
  @apply border-0 border-transparent;
}

.gm-style-iw-d {
  overflow: hidden !important;
}

.gm-style-iw {
  padding: 0px !important;
}

.card.image-full:before {
  background: rgb(0, 0, 0) !important;
  border-radius: 0 !important;
}
